*{
    box-sizing: border-box;
}

body{

    font-family: 'Permanent Marker';
    margin:0px;
    
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    padding: 15px;
    font-family: 'Permanent Marker',cursive;
    
    background: gray; 

    color: rgb(0, 0, 0);
}


img {
        border: 1px solid #C0C0C0;
        border-radius: 30%;
        padding: 2px;
    }

.footer,
.main-left,
.sample-image,
.work{
    padding: 1em;
}
h1{
    text-align: left;
    text-size-adjust: 200%;
    box-shadow: white;
}
nav ul{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: right;
    /* padding-top: 50px;  */
    /* padding: 20px, 5px, 5px, 5px;  */
    min-width: 350px;
    margin: 0px;
    
}

.top{
    /* grid-area: top;   */
    font-family: 'Permanent Marker',cursive;
    padding: 30px;
    background-image:url(./adrian-curiel-sDfdZ9iWGv8-unsplash.jpg);
    text-align-last: right;
    margin: 0px;
}
.about-me{
    grid-area: about-me;
    background: rgb(243, 231, 209); 
    max-height: 200px;
    font-family: 'Permanent Marker',cursive;
}
.main-left{

    grid-area: main-left; 
    background: rgb(185, 238, 220) ; 
    max-height: 200px;
    font-family: 'Permanent Marker',cursive;
}
.work{
    grid-area: work;
    background: whitesmoke;
    max-height: 200px;
    font-family: 'Permanent Marker',cursive;
}
.sample-image{
    grid-area: sample-image;
    background-color: #fff;
    border: 1px solid black;
    max-height: 200px;
    font-family: 'Permanent Marker',cursive;

}

.contact-me{
    grid-area: contact-me;
    background-color: rgb(236, 220, 220);
    max-height: 100px;
    text-align: center;
}

.footer{
    grid-area: footer;
    background: whitesmoke;
    max-height: 100px;
    text-align: center;
}
.container{   
    display:grid;  
    grid-column: 1fr,3fr;
    /* grid-auto-rows: auto; */
    grid-template-areas: 
    "about-me main-left"
    "work work-items"
    "contact-me footer"

}
.container >div{
    /* font-size: 1.5em;  */
    width: 100%;
    height: 100vh;
  
}